<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <h1 class="brand-wrap">TimeZ</h1>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/category"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                   
                </li>
              
              
                <li class="menu-item">
                    <a class="menu-link" href="/customer"> <i class="icon material-icons md-person"></i>
                        <span class="text">Customer</span>
                    </a>
                    
                </li>
                <li class="menu-item has">
                    <a class="menu-link" href="/adminOrderProfile"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>
            <hr>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar justify-content-end">
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">   
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="dropdown nav-item">
                            <a class="dropdown-item text-danger" href="/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Coupon</h2>
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="/submitNewCoupon" method="POST" onsubmit="return validateForm()">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Coupon Code</label>
                                            <input type="text" placeholder="Type here" name="coupon_code" class="form-control" id="coupon_code" onkeyup="validateCode()">
                                            <span id="code-error" class="error-msg"></span> <!-- Corrected ID -->
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            <textarea placeholder="Type here" class="form-control" name="description" rows="4" id="coupon_description" rows="4" onkeyup="validateDescription()"></textarea>
                                            <span id="description-error" class="error-msg"></span>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Percentage</label>
                                            <input type="text" placeholder="Type here" name="percentage" class="form-control" id="percentage" onkeyup="validatePrice()">
                                            <span id="price-error" class="error-msg"></span><!-- Corrected ID -->
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label">Minumum Amount</label>
                                            <input type="text" placeholder="Type here" name="minimumAmount" class="form-control"  id="min_amount" min="0" onkeyup="validateMinAmount()">
                                            <span id="min-amount-error" class="error-msg"></span> <!-- Corrected ID -->
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Maximum Dicount Amount</label>
                                            <input type="text" placeholder="Type here" name="maximumAmount" class="form-control" id="max_amount" min="0" onkeyup="validateMaxAmount()">
                                            <span id="max-amount-error" class="error-msg"></span> <!-- Corrected ID -->
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Exp date</label>
                                            <input type="date" placeholder="Type here" name="expiryDate" class="form-control" id="expiry_date" onchange="validateDate()">
                                            <span id="date-error" class="error-msg"></span> <!-- Corrected ID -->
                                        </div>
                                        <div>
                                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                                            <button  type="submit" class="btn btn-md rounded font-sm hover-up" >Add New Coupon</button>
                                            <span id="submit-error" class="error-msg"></span>

                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/static/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/vendors/select2.min.js"></script>
    <script src="/static/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/static/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/static/assets/js/main.js" type="text/javascript"></script>

    <script>
        function validateCode() {
          var codeError = document.getElementById("code-error");
          var code = document.getElementById("coupon_code").value.trim();
          var uppercaseRegex = /^[A-Z0-9]+$/;
          if (!uppercaseRegex.test(code)) {
            codeError.innerHTML = "Coupon code must contain only uppercase letters and numbers";
            codeError.style.color = "red";
            return false;
          }
          codeError.innerHTML = "";
          return true;
        }
    
        function validateDescription() {
          var descriptionError = document.getElementById("description-error");
          var desc = document.getElementById("coupon_description").value.trim();
          if (desc.length === 0) {
            descriptionError.innerHTML = "Description is required";
            descriptionError.style.color = "red";
            return false;
          }
          descriptionError.innerHTML = "";
          return true;
        }
    
        function validatePrice() {
          var priceError = document.getElementById("price-error");
          var price = document.getElementById("percentage").value.trim();
          if (price.length === 0 || isNaN(price) || parseFloat(price) <= 0 || parseFloat(price) > 100) {
            priceError.innerHTML = "Invalid entry";
            priceError.style.color = "red";
            return false;
          }
          priceError.innerHTML = "";
          return true;
        }
    
        function validateMinAmount() {
          var minAmountError = document.getElementById("min-amount-error");
          var minAmount = document.getElementById("min_amount").value.trim();
          if (minAmount.length === 0 || minAmount < 1  || isNaN(minAmount) || parseFloat(minAmount) < 0) {
            minAmountError.innerHTML = "Invalid entry";
            minAmountError.style.color = "red";
            return false;
          }
          minAmountError.innerHTML = "";
          return true;
        }
    
        function validateMaxAmount() {
          var maxAmountError = document.getElementById("max-amount-error");
          var maxAmount = document.getElementById("max_amount").value.trim();
          if (maxAmount.length === 0 || maxAmount < 1 || isNaN(maxAmount) || parseFloat(maxAmount) < 0) {
            maxAmountError.innerHTML = "Invalid entry";
            maxAmountError.style.color = "red";
            return false;
          }
          maxAmountError.innerHTML = "";
          return true;
        }
    
        function validateDate() {
          var dateError = document.getElementById("date-error");
          var dateInput = document.getElementById("expiry_date").value;
          var currentDate = new Date();
          var selectedDate = new Date(dateInput);
          if (selectedDate <= currentDate) {
            dateError.innerHTML = "Please select a future date";
            dateError.style.color = "red";
            return false;
          }
          dateError.innerHTML = "";
          return true;
        }
    
        function validateForm() {
          var isValid = true;
          isValid &= validateCode();
          isValid &= validateDescription();
          isValid &= validatePrice();
          isValid &= validateMinAmount();
          isValid &= validateMaxAmount();
          isValid &= validateDate();
          
          var submitError = document.getElementById("submit-error");
          if (!isValid) {
            submitError.innerHTML = "Please enter all the fields correctly to submit";
            submitError.style.color = "red";
            return false;
          } else {
            submitError.innerHTML = "";
            return true;
          }
        }
      </script>
</body>

</html>