
<%- include('header')  %>
  <main>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">ADMIN LOGIN</h4>
                <form action="/submit" method="POST">
                    <div class="mb-3">
                        <input class="form-control" placeholder="Username or email" name="email" type="text">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <input class="form-control" placeholder="Password"  name="password" type="password">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" checked="">
                            <span class="form-check-label">Remember</span>
                        </label>
                    </div> <!-- form-group form-check .// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login </button>
                    </div> <!-- form-group// -->
                </form>
  </main>
  <script src="/static/assets/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="/static/assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/vendors/jquery.fullscreen.min.js"></script>
  <!-- Main Script -->
  <script src="/static/assets/js/main.js" type="text/javascript"></script>
<%- include('footer')  %>